@model YungChing.ViewModels.CustomersListViewModel

@{
	ViewBag.Title = "Index";
}

<link href="~/Content/PagedList.css" rel="stylesheet" />

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Customers",
		FormMethod.Post,
		new { @class = "form-horizontal", role = "form", id = "CustomersList" }))
{
	<div class="row">
		<div class="col-md-6 form-group">
			<label class="col-lg-3 control-label">Product Name:</label>
			<div class="col-lg-8">
				@Html.EditorFor(x => x.SearchParameter.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
			</div>
		</div>
	</div>
	<span class="clearfix"></span>
	<div class="row">
		<div class="col-md-offset-5">
			<input type="submit" class="btn btn-primary" value="Search">
			<span></span>
			<input type="reset" class="btn btn-default" value="Cancel">
		</div>
	</div>
}
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Customers.FirstOrDefault().CompanyName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Customers.FirstOrDefault().ContactName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Customers.FirstOrDefault().ContactTitle)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Customers.FirstOrDefault().Address)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Customers.FirstOrDefault().City)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Customers.FirstOrDefault().Region)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Customers.FirstOrDefault().PostalCode)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Customers.FirstOrDefault().Country)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Customers.FirstOrDefault().Phone)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Customers.FirstOrDefault().Fax)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model.Customers)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.CompanyName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ContactName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ContactTitle)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Address)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.City)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Region)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.PostalCode)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Country)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Phone)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Fax)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.CustomerID }) |
				@Html.ActionLink("Details", "Details", new { id = item.CustomerID }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.CustomerID })
			</td>
		</tr>
	}

</table>

@Html.PagedListPager(Model.Customers, page => Url.Action("Index", new { page }))

@section scripts
{
	<script type="text/javascript">$(function () {
            $('.pagination>li>a[href]').each(function (i, item) {
                var page = $(item).attr('href').replace('/Customers?page=', '');
                $(item).attr('href', '#').click(function () { postPage(page); });

            });
        });

        function postPage(page) {
			var targetFormId = '#CustomersList';

                $('<input>')
                    .attr({ type: 'hidden', id: 'PageIndex', name: 'PageIndex', value: page })
                    .appendTo($(targetFormId));
                $(targetFormId).submit();
        };</script>
}
